.cart-body {
  display: flex;
  flex-direction: column;
  padding: 1em 5em;
  gap: 1em;
}

.cart-details {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: inherit;
}

.bill {
  background: #eeecec;
  padding: 2em;
  flex-grow: 1;
}
h2 {
  margin-bottom: 1em;
}
.price-list {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1em 0 1em 0;
  margin-bottom: 1em;
}
.bill > div > div {
  display: flex;
  justify-content: space-between;
}
.bill > div > button {
  width: 100%;
  background-color: lightgreen;
  margin-top: 1em;
}

.cart-items {
  flex-grow: 2;
}
.cart-items > div:first-child {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

@media only screen and (max-width: 426px) {
  .cart-body {
    padding: 0.9em;
  }
}
@media only screen and (max-width: 864px) {
  .cart-details {
    flex-direction: column;
  }
}
