.cart-item-tile {
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2);
  padding: 1em;
  gap: 1em;
}

.cart-item-image-box {
  height: inherit;
  width: 6em;
}
.cart-item-image {
  width: 6em;
  height: inherit;
  object-fit: contain;
}
.cart-item-details {
  width: 30%;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* @media (max-width: 424px) {
  .cart-item-details {
    width: 4em;
  }
} */
