.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}
input.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.filter-box > label {
  font-size: 1.2em;
}

button.active {
  background-color: #1a1a1a;
  color: white;
}
