header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

header > div,
.route-links,
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

ul {
  list-style: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1em;
  top: 4em;
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 1em;
}

.mobile-menu > li {
  background: white;
  width: -webkit-fill-available;
}

.mobile-menu-btn {
  display: none;
}

.cart-quantity {
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 1.5em;
}

@media only screen and (max-width: 543px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-btn {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button > img {
    object-fit: contain;
    width: 1.8em;
  }
}
