.card-image{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.cart-body {
  display: flex;
  flex-direction: column;
  padding: 1em 5em;
  gap: 1em;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 8px 4px 8px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  /* margin-bottom: 2em; */
}
#about {
  text-align: left;
  padding: 1em;
}
.link {
  color: blue;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin: 2em;
  padding: 2em;
}
.product-page-heading {
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.search-box {
  width: 21em;
  height: 2.6em;
  margin: 5px;
  border: 1px solid black;
  border-radius: 2em;
  padding-left: 10px;
}
@media only screen and (max-width: 376px) {
  .search-box {
    width: 15em;
  }
}
